lxml
html5lib
BeautifulSoup4
bokeh
rx
NLTk
scikit-learn
keras
Networkx
PyMc3
matplotlib
pyTorch
sympy
jupyter
numpy
beautifulsoup
sympy
psycopg2
flask
pillow
jupyter
ipython
notebook
msgpack-python
Requests
notebook
joblib
IPython
NetworkX
NLTK
Numexpr
pandas
SciPy
seaborn
sqlalchemy
statsmodels
matplotlib
NumPy
scikit-learn
dautil
appdirs
mpld3
appnope
bleach
cycler
decorator
entrypoints
freetype
html5lib
icu
inflection
ipykernel
ipython=6.1.0
ipython_genutils
ipywidgets
jedi
jinja2
jsonschema
jupyter
jupyter_client
jupyter_console
jupyter_core
libpng
markupsafe
matplotlib
mistune
mkl
more-itertools
nbconvert
nbformat
notebook
numpy
openssl
pandas
pandas-datareader
pandocfilters=
path.py
patsy
pexpect
pickleshare
pip=
prompt_toolkit
ptyprocess
pygments
pyparsing
pyqt
python-dateutil
pytz
pyzmq
qt
qtconsole
quandl
readline
requests
requests-file
requests-ftp
scipy=
setuptools
simplegeneric
sip
sqlite
statsmodels
terminado
testpath
tk
tornado
traitlets
wcwidth
wheel
widgetsnbextension
xz
zlib